                <!--Gitalk评论start  -->
                {% if site.gitalk.enable %}
                <!-- 引入Gitalk评论插件  -->
                <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
                <script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>
                <div id="gitalk-container"></div>
                <!-- 引入一个生产md5的js，用于对id值进行处理，防止其过长 -->
                <!-- Thank DF:https://github.com/NSDingFan/NSDingFan.github.io/issues/3#issuecomment-407496538 -->
                <script src="{{ site.baseurl }}/js/md5.min.js"></script>
                <script type="text/javascript">
                    var gitalk = new Gitalk({
                    clientID: '683fc65a73126425b435',
                    clientSecret: '318a685461a22aaf9381b0e1b85ce257c5e2986b',
                    repo: 'News',
                    owner: 'Mark-MTR',
                    admin: ['Mark-MTR'],
                    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
                    id: md5(location.pathname),
                    });
                    gitalk.render('gitalk-container');
                </script>
                {% endif %}
                <!-- Gitalk end -->

                {% if site.disqus_username %}
                <!-- disqus 评论框 start -->
                <div class="comment">
                    <div id="disqus_thread" class="disqus-thread"></div>
                </div>
                <!-- disqus 评论框 end -->
                {% endif %}
